.git
.github
.vscode
.idea
node_modules
database/dumps
storage/framework/cache/data
storage/framework/sessions
storage/framework/views/*.php
storage/logs/*.log
bootstrap/cache/*.php
.env
.env.*
!.env.example
tests
*.log
Thumbs.db
.DS_Store
