.git
.github
.vscode
.idea
node_modules
database/dumps
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache
.env
.env.*
!.env.example
tests
*.log
Thumbs.db
.DS_Store
